<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calebjares.swiper">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity android:name="com.calebjares.swiper.ui.MainActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            </activity>

    </application>

</manifest>
